[submodule "Rastin | AiT5v3UKaQG4sfTAqvjS"]
	path = Rastin | AiT5v3UKaQG4sfTAqvjS
	url = https://github.com/DarkPhoenix2704/testrepo
[submodule "Conman | vfT3Dbw91B7znV9apN2R"]
	path = Conman | vfT3Dbw91B7znV9apN2R
	url = https://github.com/Mr3lueSky/start
[submodule "Asbk | f0oxfkq2PRf9NaTE5WT5"]
	path = Asbk | f0oxfkq2PRf9NaTE5WT5
	url = https://github.com/abimelsbk/sathack
[submodule "Daemons | Ol6Bk7B4zcqOjtYuIren"]
	path = Daemons | Ol6Bk7B4zcqOjtYuIren
	url = https://github.com/aravinds-arv/shn-supertokens
[submodule "Outcast | P0SLZtYY4A1mFhmPFHcM"]
	path = Outcast | P0SLZtYY4A1mFhmPFHcM
	url = https://github.com/NazimFilzer/shn-supertokens
[submodule "MPR | bsFKUTWIn8osQ3RrVLoR"]
	path = MPR | bsFKUTWIn8osQ3RrVLoR
	url = https://github.com/joswinemmanuel/SHN.git
[submodule "Strix | voBnbjGtovYsQ0VX2XkX"]
	path = Strix | voBnbjGtovYsQ0VX2XkX
	url = https://github.com/Allen-Saji/Saturday_Hack_Night
[submodule "Venture | cUZOx0Q9mdOcdOa54Bep"]
	path = Venture | cUZOx0Q9mdOcdOa54Bep
	url = https://github.com/Reseraju/SuperTokens
[submodule "octoCat | kXa5z6EfEYWOtFaeEhwv"]
	path = octoCat | kXa5z6EfEYWOtFaeEhwv
	url = https://github.com/Akhil-ps-dev/octoCat
